<div class="row shadow-sm" id="messages_header">
  <div class="col 12 col-md-3 py-3">
      <div class="d-flex h-100 align-items-center">
        <span class="text-uppercase text-secondary text-light-weight pl-3">{{ viewName }} <span id="mobile-header-text">&nbsp;|&nbsp; {{ headerText }} &nbsp;|&nbsp; <a (click)="logOut()" id="logoutLink">Logout</a></span></span>
      </div>
  </div>
  <div class="col-md-9 py-3" style="border-left:1px solid #DAE6ED;" id="header-text">
    <div class="d-flex h-100 align-items-center">
      <span class="text-uppercase text-secondary text-light-weight pl-3">{{ headerText }}</span>
      <button class="btn btn-outline-secondary text-uppercase mr-3 ml-auto" (click)="logOut()">Logout</button>
    </div>
  </div>
</div>