<body>
    <div class="container my-4 pt-5 pb-3">
        <!-- Title header -->
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2 text-center">
                <img src="/assets/images/logo-mark-64.png" class="img-fluid img-responsive mx-auto mb-4" width="64px"
                    alt="Chatversity Logo Mark">
                <h1 class="text-center h4 text-secondary" style="font-family:'Poppins'; font-weight: 300;">Sign in to Chatversity</h1>
            </div>
        </div>
        <!-- Login Form -->
        <div class="row mt-5">
            <div class="col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
                    <div *ngIf="submitted && loginForm.errors">
                        <div *ngIf="loginForm.errors.invalid" class="alert alert-danger" role="alert">Incorrect
                            username or password.</div>
                    </div>

                    <!-- Username -->
                    <div class="form-group">
                        <label for="username" class="text-secondary">Username</label>
                        <input type="text" name="username" formControlName="username"
                            class="form-control" tabindex=1 [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">Username is required.</div>
                            <div *ngIf="f.username.errors.email || f.username.errors.pattern">The username {{ f.username.value }} is invalid.</div>
                        </div>
                    </div>

                    <!-- Password -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label for="password" class="text-secondary">Password</label>
                            </div>
                            <div class="col-6 text-right">
                                <a [routerLink]="['/forgot']" class="small"tabindex=7>Forgot Password?</a>
                            </div>
                        </div>
                        <input type="password" formControlName="password"
                            class="form-control" tabindex=2 [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required.</div>
                        </div>
                        <button [disabled]="loading" class="btn btn-primary btn-block mt-4" tabindex=3><span *ngIf="!loading">Sign in</span>
                            <div *ngIf="loading" class="spinner-border text-whiet" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </button>
                        
                    </div>
                </form>
            </div>
            <!-- Signup link -->
            <div class="col-12">
                <p class="text-center text-secondary">New to Chatversity? &nbsp;<a [routerLink]="['/signup']" tabindex=4>Create an account.</a></p>
            </div>
        </div>
        <!-- Google Play and Apple Store Badges -->
        <div class="col-8 offset-2 mt-3">
            <div class="row">
                <div class="col-6 col-lg-3 offset-lg-3">
                    <a href="#"tabindex=5>
                        <img src="/assets/images/GooglePlayBadge.png" class="img-fluid img-responsive mx-auto"
                            style="min-width: 75px; min-height: 30px;">
                    </a>
                </div>
                <div class="col-6 col-lg-3"tabindex=6>
                    <a href="#">
                        <img src="/assets/images/AppStoreBadge.png" class="img-fluid img-responsive mx-auto"
                            style="min-width: 75px; min-height: 30px;">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <!-- import footer -->
        <app-footer></app-footer>
    </footer>
</body>