# See http://help.github.com/ignore-files/ for more about ignoring files.
# To generate docs using compodoc do:  ./node_modules/.bin/compodoc -p src/tsconfig.spec.json --theme readthedocs -s


# Noahs Shit
noahs_codes.md

# compiled output
#/dist
#Removing dist/ folder as travis-ci needs to see it for auto builds and deploys
/tmp
/out-tsc

# dependencies
/node_modules

# NativeScript
/hooks
/platforms

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
