<!-- Main Container Div -->
<section class="py-5" style="min-height:100vh;">
  <div class="container-fluid">
    <div class="text-center mt-5">
      <h1 class="display-1 text-secondary">404 Error</h1>
      <p class="h2 text-light text-light-weight mt-3 mb-5">&mdash; Page Not Found &mdash;</p>
      <div class="pt-5 pb-3">
        <a [routerLink]="['/home']"><button class="btn btn-primary px-4 py-2">Return Home</button></a>
      </div>
      <div>
        <a [routerLink]="['/login']">Login</a>
      </div>
    </div>
  </div>
</section>