<app-small *ngIf="user" [user]="user" [isConnection]="false"></app-small>

<!--Search Bar-->
<form [formGroup]="searchForm" class="my-4">
  <div class="form-group mb-3">
      <input type="search" required class="form-control primary-border" id="search" name="search" placeholder="Search" 
      formControlName="search" (input)="onSearch()">
  </div>
</form>

<!--Search results-->
<div class="my-2 search-results" *ngIf="(submitted && !searchForm.invalid)">
  <div *ngIf="(userResults)">
      <div class="text-light">Users:</div> <hr>
      <div *ngFor="let user of userResults">
          <button class="btn btn-block text-left px-3 py-2 my-2 user-card" data-toggle="modal"  data-target="#profileModal"
          (click)="setUser(user)">
              <img src="" onerror="this.src='../../assets/images/DefaultProfile.png'"
              class="circle img-fluid rounded-circle card-img" [ngClass]="{ 'border-online': user.active }"/> 
  
              <span class="text-secondary ml-3">{{ user.name }}</span>
          </button>
      </div>
  </div>

  <app-small id="profileModal" *ngIf="user" [user]="user" [isConnection]="false"></app-small>

  <div *ngIf="(roomResults)">
      <div class="text-light">Rooms:</div> <hr>
      <div *ngFor="let room of roomResults">
          <button class="btn btn-block text-left px-3 py-2 my-2 user-card" data-toggle="modal" data-target=""
          (click)="setRoom(room.id)">
              <img src="" onerror="this.src='../../assets/images/DefaultProfile.png'"
              class="circle img-fluid rounded-circle card-img" [ngClass]="{ 'border-online': user.active }"/> 
  
              <span class="text-secondary ml-3">{{ user.firstName }} {{ user.lastName }}</span>
          </button>
      </div>
  </div>

  <div *ngIf="loading" class="spinner-border text-white" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  
  <div *ngIf="userType">
    <div *ngIf="(!userResults && submitted)" class="ml-2">
      <span class="text-light">Sorry, we could not find any users.</span>
    </div>
  </div>

  <div *ngIf="roomType">
    <div *ngIf="(!roomResults && submitted)" class="ml-2">
      <span class="text-light">Sorry, we could not find any rooms.</span>
    </div>
  </div>
</div>