.user-card{
    background-color: white;
    border: 1px solid #DAE6ED;
    border-radius: 5px;
}
.user-card:hover{
    background-color: transparent;
    border: 1px solid #b6bfc4;
}
.card-img{
    max-width: 40px;
}
#search{
    border-radius: 20px;
}
.activity-status{
   border: none;
   padding: 0;
   box-shadow: 0px 0px 3px #282828, 0px 0px 2px #282828 inset;
}