.user-card{
    background-color: white;
    border: 1px solid #DAE6ED;
    border-radius: 5px;
}
.user-card:hover{
    background-color: transparent;
}
.card-img{
    max-width: 40px;
}
#search{
    border-radius: 20px;
}