<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <!-- Main Container Div -->
    <section class="d-flex align-items-center" style="min-height:100vh; margin-bottom: 30px;">
      <div class="container-fluid">
        <div class="text-center">
          <img src="/assets/images/logo-mark-64.png" alt="" class="mb-5">
          <h1 id="error-code"></h1>
          <h1 id="error-code-max">You have encountered an Error!</h1>
          <h5 id="error-code-min">It could be us, but here is the status of our operations:</h5>
          <div class="container mt-5">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Provider</th>
                    <th scope="col">Service</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">mongoDB Atlas</th>
                    <td>Database</td>
                    <td>STATUS</td>
                  </tr>
                  <tr>
                    <th scope="row">Pusher</th>
                    <td>ChatKit</td>
                    <td><a href="https://status.pusher.com/">System Status</a></td>
                  </tr>
                  <tr>
                    <th scope="row">Okta</th>
                    <td>Authentication</td>
                    <td>STATUS</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <app-footer></app-footer>
  </body> 