#settings_header {
    background-color:rgb(255, 255, 255);
    z-index: 2;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #94B0C0;
    top:0;
    position: sticky;
}

#settings-nav {
    float:right;
    background: #DAE6ED;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;   
}

#user_settings{
    padding: 25px 25px;
    margin-top: 3px;
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

#v-pills-tabContent {
    padding: 16px 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold; 
}