<div class="container-fluid" style="height:100vh;">

  <app-top-bar [viewName]="'Settings'" [headerText]="headerText"></app-top-bar>
  
  <div class="row page-content">
    <div class="col-12 col-lg-3" style="background-color:#F1F8FC; border-bottom:1px solid #DAE6ED;">
      <div class="my-3 px-1">
        <button class="btn btn-block custom-btn text-left my-2 p-3" (click)="showProfileView()"
        [ngClass]="{ 'active': ProfileView.current }">My Profile</button>
        <button class="btn btn-block custom-btn text-left my-2 p-3" (click)="showPrivacyView()"
        [ngClass]="{ 'active': PrivacyView.current }">Privacy</button>
        <button class="btn btn-block custom-btn text-left my-2 p-3" (click)="showSecurityView()"
        [ngClass]="{ 'active': SecurityView.current }">Security</button>
        <button class="btn btn-block custom-btn text-left my-2 p-3" (click)="showConnectionsView()"
        [ngClass]="{ 'active': ConnectionsView.current }">Connections</button>
        <button class="btn btn-block custom-btn text-left my-2 p-3 user-action-btn" (click)="logOut()">Logout <i class="fa fa-sign-out-alt"></i></button>
      </div>
    </div>
  
  <div class="col-12 col-lg-9" style="background-color: #fafdff; border-left:1px solid #DAE6ED;">
    <div *ngIf="ProfileView.current">
      <app-settings-profile></app-settings-profile>
    </div>
    <div *ngIf="PrivacyView.current">
      <app-privacy-settings></app-privacy-settings>
    </div>
    <div *ngIf="SecurityView.current">
      <app-security-settings></app-security-settings>
    </div>
    <div *ngIf="ConnectionsView.current">
      <app-connection-settings></app-connection-settings>
    </div>
  </div>

  </div>
</div>
      