<div class="container-fluid">
  
  <!-- Navigation header -->
  <div class="row align-items-center shadow-sm py-3" id="settings-body">
    <div class="col-12" id="settings-left">
      <span class="text-uppercase">Settings</span>
    </div>  
  </div>

  <div class="row">
    <!-- Settings Nav -->
    <div class="col-4">
        <span style="color: #115073;">This is the col 4</span>
        <!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">Messages</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Settings</a>
    </li>
  </ul>
  

    </div>

    <!-- Settings window -->
    <div class="col-8">
        <span style="color: #115073;">This is the col 8</span>
          <!-- Tab panes -->
  <div class="tab-content text-white">
      <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">Home</div>
      <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">Profile</div>
      <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">Messages</div>
      <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">Settings</div>
    </div>
    </div>
  </div>
</div>