<div class="container">
  <div class="pt-4">
    <h4 class="text-secondary pb-3">Notifications</h4>
    <p><input type="checkbox" id="news">&nbsp; News emails</p>
    <p class="description">Be the first to find out about Chatversity's latest updates.</p>
    <hr />
  </div>
  <div class="pt-4">
      <p><input type="checkbox" id="reminders">&nbsp; Reminders emails</p>
      <p class="description">Stay up to date with everything that you missed out on.</p>
    <hr />
  </div>
  <div class="pt-4">
      <p><input type="checkbox" id="product">&nbsp; Product emails</p>
      <p class="description">Get tips on using Chatversity and our others products.</p>
    <hr />
  </div>
  <div class="pt-4">
      <p><input type="checkbox" id="text">&nbsp; Text (SMS) Messages</p>
      <p class="description">Get reminders delivered by text message.</p>
    <hr />
  </div>
</div>

