<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <div class="container">
      <div class="pt-4">
        <h2 class="text-secondary pb-3">Connect to:</h2>
        <p><input type="checkbox" id="2FA"> News emails</p>
        <p class="description">Find out first about new updates regarding Chatversity.</p>
        <hr />
      </div>
      <div class="pt-4">
          <p><input type="checkbox" id="2FA"> Reminders emails</p>
          <p class="description">Stay up to date with things that you have missed regarding Chatversity.</p>
        <hr />
      </div>
      <div class="pt-4">
          <p><input type="checkbox" id="2FA"> Product emails</p>
          <p class="description">Get tips on using Chatversity's tools.</p>
        <hr />
      </div>
      <div class="pt-4">
          <p><input type="checkbox" id="2FA"> Text(SMS) Messages</p>
          <p class="description">Get reminder notifications delivered by text message.</p>
        <hr />
      </div>
    </div>
  </body>
</html>

