<div class="container-fluid">
    <div class="row">

      <!-- edit buttons -->
      <div class="col-12 mt-4 mb-3">

        <!-- Button to show edit form -->
        <button (click)="(editingForm == true ? onSubmit() : (editingForm = !editingForm))" [ngClass]="{'btn-primary': editingForm, 'btn-outline-primary': !editingForm}" class="btn px-3">
          <i class="fa fa-edit" *ngIf="!editingForm"></i> {{ editingForm == true ? 'Save Changes' : 'Edit Profile' }}
        </button>
  
        <!-- Button to cancel form edit => only shown when form is displayed -->
        <button (click)="editingForm = !editingForm" *ngIf="editingForm" class="btn btn-outline-primary ml-2 px-3">
          <i class="fa fa-times"></i> Cancel
        </button>

      </div>
      <!-- end edit buttons -->

      <div class="col-12 col-sm-12 col-lg-8 my-3">
        <ng-container *ngIf="currentUser">
          <!-- BEGIN FORM -->
          <form *ngIf="editingForm" id="profileEditForm" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  
            <div *ngIf="submitted && f.name.errors">
              <div class="alert alert-danger" role="alert">Unable to update profile.</div>
            </div>

          <!-- Profile Picture -->
          <figure>
              <img src="{{ currentUser.avatarURL }}" alt="User Profile Picture">
              <!-- <input type="file" name="filepond" data-max-files="10" required> -->
              <file-pond #myPond 
                [options]="pondOptions" 
                [files]="pondFiles"
                (oninit)="pondHandleInit()"
                (onaddfile)="pondHandleAddFile($event)">
              </file-pond>
            </figure>
            
          <!--Name-->
          <div class="form-group mb-3">
              <label for="name" class="text-secondary">Name 
                <span class="text-danger" *ngIf="editMode">*</span>
              </label>
              <input type="text" class="form-control" id="name" name="name" placeholder="John Doe" required
              formControlName="name" maxlength="60"
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
  
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Please provide your name.</div>
              </div>
            </div>
       
            <!--Bio-->
            <div class="form-group mb-3">
              <label for="bio" class="text-secondary">Bio</label>
              <textarea class="form-control" id="bio" name="bio" maxlength="200" formControlName="bio" data-gramm_editor="false"></textarea>
            </div>
  
            <div class="row">
              <div class="col-12 col-lg-8">
  
                <!--Major-->
                <div class="form-group mb-3">
                  <label for="major" class="text-secondary">Major</label>
                  <input type="text" class="form-control" id="major" name="major" placeholder="Computer Science" maxlength="100"
                  formControlName="major">
                </div>
              </div>
  
              <!--Graduation Year-->
              <div class="col-12 col-lg-4">
                <div class="form-group mb-3">
                  <label for="graduationYear" class="text-secondary">Graduation Year</label>
                  <input type="number" class="form-control" id="graduationYear" name="graduationYear" placeholder="2025"
                  formControlName="graduationYear">
              </div>
            </div>
          </div>
  
            <!--Interests-->
            <div class="form-group mb-3">
              <label for="major" class="text-secondary">Interests</label>
              <input type="text" class="form-control" id="interests" name="interests" placeholder="What are your interests?" maxlength="100"
              formControlName="interests">
            </div>
  
            <!--Clubs-->
            <div class="form-group mb-3">
              <label for="clubs" class="text-secondary">Clubs</label>
              <input type="text" class="form-control" id="clubs" name="clubs" placeholder="Which clubs are you involved in?" maxlength="100"
              formControlName="clubs">
            </div>

          </form>

          <!-- BEGIN PROFILE DISPLAY -->
          <div *ngIf="!editingForm && currentUser">

            <!--Name-->
            <div class="mb-3">
              <span class="no-edit-label text-uppercase">Name</span> <br>
              <span *ngIf="currentUser">{{ currentUser.name }}</span>
            </div>
      
            <!--Bio-->
            <div class="mb-3">
              <span class="no-edit-label text-uppercase">Bio</span> <br>
              <span> {{ currentUser.customData.bio }}</span>
            </div>
            
            <!--Major-->
            <div class="mb-3">
              <span class="no-edit-label text-uppercase">Major</span> <br>
              <span> {{ currentUser.customData.major }}</span>
            </div>

            <!--Graduation Year-->
            <div class="mb-3">
              <span class="no-edit-label text-uppercase">Graduation Year</span> <br>
              <span> {{ currentUser.customData.graduationYear }}</span>
            </div>

            <!--Interests-->
            <div class="mb-3">
              <span class="no-edit-label text-uppercase">Interests</span> <br>
              <span> {{ currentUser.customData.interests }}</span>
            </div>

            <!--Clubs-->
            <div class="mb-3">
              <span class="no-edit-label text-uppercase">Clubs</span> <br>
              <span> {{ this.currentUser.customData.clubs }}</span>
            </div>

          </div>
        </ng-container>
      </div>
    </div>
</div>
