<!DOCTYPE html>
<html>

<body>
  <div class="container">
    <div class="py-3 vh-100">
      <section class="text-center border rounded shadow my-3 py-3">
        <img src="/assets/images/logo-mark-64.png" class="img-fluid img-responsive mx-auto mb-4" width="64px"
          alt="Chatversity Logo Mark">
        <h2 class="text-primary">Introducing Chatversity</h2>
        <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet leo euismod, ullamcorper est et,</p>
      </section>
      <section class="text-left border rounded shadow my-3 py-3 px-4">
          <h2 class="text-primary">Connect with your Classmates</h2>
          <p class="text-secondary">Chatversity is the newest platform for students. Ready to connect?</p>
          <a href="#"><button class="btn btn-primary">Add Classmates</button></a>
        </section>
    </div>
  </div>
</body>

</html>