<div class="p-4">
  <div class="text-center border rounded my-4 p-5 mr-3 custom-shadow" style="background-color: white;">
    <img src="/assets/images/logo-mark-64.png" class="img-fluid img-responsive mx-auto mb-4" width="64px"
      alt="Chatversity Logo Mark">
    <div class="text-secondary h2 text-light-weight">Introducing Chatversity</div>
    <p class="text-light pt-3">Connecting and collaborating with your fellow classmates has never been easier.</p>
  </div>
  <div class="text-left border rounded my-4 p-5 mr-3 custom-shadow" style="background-color: white;">
    <div class="text-secondary h2 text-light-weight">Connect with your Peers</div>
    <p class="text-light mb-4">Chatversity is the newest platform for college and university students across the world. Ready to connect?</p>
    <a [routerLink]="['/rooms']" [queryParams]="{view:'friends'}"><button type="submit" class="btn btn-primary text-uppercase px-4" style="padding-top: 10px; padding-bottom: 10px;">Get Started!</button></a>
  </div>
</div>