.custom-shadow{
    box-shadow: 0 0px 2px #26B1FF;
}
.custom-shadow:hover{
    box-shadow: 0 0px 4px #26B1FF;
}
.latest-news-container{
    padding: 0;
}
.latest-news-card{
    padding: 15px;
}
.news-header{
    font-size: 1.5em;
}
@media (min-width: 768px){ /*Medium*/
    .latest-news-container{
        padding: 20px;
    }
    .latest-news-card{
        padding: 25px;
    }
    .news-header{
        font-size: 2.0em;
    }
}