<img src="/assets/images/logo-mark-64.png" height="32" width="32" class="m-3">
<ul class="nav nav-pills nav-justified flex-column align-self-center m-auto">
  <li class="nav-item">
    <a class="nav-link mt-1 mb-1 pt-3 pb-3" ngbTooltip="Home" placement="right" triggers="hover" [autoClose]="true" routerLinkActive="active" routerLink="home"><i class="fa fa-home fa-lg"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link mt-1 mb-1 pt-3 pb-3" ngbTooltip="Rooms" placement="right" triggers="hover" [autoClose]="true" routerLinkActive="active" routerLink="rooms"><i class="fa fa-door-closed fa-lg"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link mt-1 mb-1 pt-3 pb-3" ngbTooltip="Messages" placement="right" triggers="hover" [autoClose]="true" routerLinkActive="active" routerLink="messages"><i class="far fa-envelope fa-lg"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link mt-1 mb-1 pt-3 pb-3" ngbTooltip="Settings" placement="right" triggers="hover" [autoClose]="true" routerLinkActive="active" routerLink="settings"><i class="fa fa-cogs fa-lg"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link mt-1 mb-1 pt-3 pb-3" routerLinkActive="active" routerLink="messages">
      <span>{{ notificationCount }}</span>
    </a>
  </li>
</ul>