<main class="HgNB_">

  <section class="bt7LU">
    <h2 class="ufStW">Account Privacy</h2>
    <div class="">
      <div class="qlmO5">
        <div class="bGWmh" id="accountPrivacy">
          <label class="U17kh yVvXQ" for="f310ef1e0c0d554">
            <input class="tlZCJ" id="f310ef1e0c0d554" type="checkbox" value="" checked="">
              Private Account
          </label>
        </div>
      </div>
          <p class="_7LpC8">
            When your account is private, only people you approve can see your profile and information. Your existing followers won't be affected.
          </p>
    </div>
  </section>

  <section class="bt7LU">
    <h2 class="ufStW">Activity Status</h2>
    <div class="">
      <div class="qlmO5">
        <div class="bGWmh" id="activityStatus"><label class="U17kh yVvXQ" for="f363ebbd00e418">
          <input class="tlZCJ" id="f363ebbd00e418" type="checkbox" value="" checked="">
            Show Activity Status
          </label>
        </div>
      </div>
        <p class="_7LpC8">Allow accounts you follow and anyone you message to see when you were last active on Chatversity app. When this is turned off, you won't be able to see the activity status of other accounts.</p>
    </div>
  </section>

  <section class="bt7LU">
      <h2 class="ufStW">Rooms Privacy Defaults</h2>
      <div class="">
        <div class="qlmO5">
          <div class="bGWmh" id="activityStatus"><label class="U17kh yVvXQ" for="f363ebbd00e418">
            <input class="tlZCJ" id="f363ebbd00e418" type="checkbox" value="" checked="">
            Allow Direct Messages from Rooms Members
            </label>
          </div>
        </div>
          <p class="_7LpC8">This settings is applied when you join a new room. It does not apply retroactively to your existing room.</p>
      </div>
    </section>

</main>
