<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <div class="container">
      <div class="pt-4">
        <h2 class="text-secondary pb-3">Account Privacy</h2>
        <p><input type="checkbox" id="2FA">Private Account</p>
        <p class="description">When your account is private, only people you approve can see your profile and information. Your existing followers won't be affected.
          </p>
        <hr />
      </div>
      <div class="pt-4">
          <h2 class="text-secondary pb-3">Activity Status</h2>
          <p><input type="checkbox" id="2FA">Show Activity Status</p>
          <p class="description">Allow accounts you follow and anyone you message to see when you were last active on Chatversity app. When this is turned off, you won't be able to see the activity status of other accounts.</p>
        <hr />
      </div>
      <div class="pt-4">
          <h2 class="text-secondary pb-3">Rooms Privacy Defaults</h2>
          <p><input type="checkbox" id="2FA"> Allow Direct Messages from Rooms Members</p>
          <p class="description">This settings is applied when you join a new room. It does not apply retroactively to your existing room.</p>
        <hr />
      </div>
    </div>
  </body>
</html>