<div class="container-fluid mt-4">

  <app-small [user]="connection" [isConnection]="isConnection"></app-small>

  <!--Search connections-->
  <div>
      <form [formGroup]="searchForm">

          <!--Search Bar-->
          <div class="form-group mb-3">
              <input type="search" required class="form-control primary-border" id="search" name="search" placeholder="Search" 
              formControlName="search" (input)="onSearch()">
          </div>
      </form>
  </div>

  <!--Connection search results-->
  <div class="my-3 search-results" *ngIf="(submitted && !searchForm.invalid)">
    <div *ngIf="(results.length > 0)">
        <div *ngFor="let result of results">
            <button class="btn btn-block text-left px-3 py-2 my-2 user-card" data-toggle="modal" data-target="#profileModal"
             (click)="setUser(result.id)">
                <img src="..." onerror="this.src='../../assets/images/DefaultProfile.png'"
                class="circle img-fluid rounded-circle card-img" [ngClass]="{ 'border-online': result.active }"/> 
    
                <span class="text-secondary ml-3">{{ result.firstName }} {{ result.lastName }}</span>
            </button>
        </div>
    </div>

    <img *ngIf="loading" class="ml-2"
      src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

    <div *ngIf="(results.length == 0)">
      <span class="text-light">Sorry, we could not find any results.</span>
    </div>

    <hr *ngIf="(results.length > 0)">
  </div>

  <!--Online connections-->
  <div class="mt-4 mb-5">
    <div class="text-light">Online Connections</div>
    <hr>

    <div *ngFor="let c of connections">
        <button class="btn btn-block text-left px-3 py-2 my-2 user-card" data-toggle="modal" data-target="#profileModal"
         (click)="setUser(c.id)" *ngIf="c.active">
            <img src="..." onerror="this.src='../../assets/images/DefaultProfile.png'"
            class="circle img-fluid rounded-circle card-img" [ngClass]="{ 'border-online': c.active }"/> 

            <span class="text-secondary ml-3">{{ c.firstName }} {{ c.lastName }}</span>
        </button>
    </div>
  </div>

  <!--All connections-->
  <div class="my-5">
      <div class="text-light">All Connections</div>
      <hr>
  
      <div *ngFor="let c of connections" class="my-2 user-card">
          <button class="btn btn-block text-left px-3 py-2" data-toggle="modal" data-target="#profileModal"
           (click)="setUser(c.id)">
              <img src="..." onerror="this.src='../../assets/images/DefaultProfile.png'"
              class="circle img-fluid rounded-circle card-img" [ngClass]="{ 'border-online': c.active }"/> 
  
              <span class="text-secondary ml-3">{{ c.firstName }} {{ c.lastName }}</span>
          </button>
      </div>
    </div>
</div>
