<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Nunito|Poppins|Roboto" rel="stylesheet">
</head>

<body>
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2 text-center">
                <img src="/assets/images/logo-mark-64.png" class="img-fluid img-responsive mx-auto mb-4" width="64px" alt="Chatversity Logo Mark">
                <h1 class="text-center h4">Sign in to Chatversity</h1>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
                    <div *ngIf="submitted && f.username.errors">
                        <div *ngIf="f.username.errors.invalid" class="alert alert-danger" role="alert">Incorrect username or password.</div>
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" name="username" formControlName="username" placeholder="Enter your username" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">Username is required</div>
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label for="password">Password</label>
                            </div>
                            <div class="col-6 text-right">
                                <a [routerLink]="['/forgot']" class="small">Forgot Password?</a>
                            </div>
                        </div>
                        <input type="password" formControlName="password" placeholder="Enter your password"
                            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>
                        <button [disabled]="loading" class="btn btn-login btn-primary btn-block mt-3">Sign in</button>
                        <img *ngIf="loading"
                            src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    
                    </div>
                </form>
            </div>
            

            <div class="col-12">
                <p class="text-center">New to Chatversity? <a [routerLink]="['/signup']" >Sign up</a></p>
            </div>


        </div>
        <div class="col-8 offset-2 ">
            <p class="text-center">Get the App</p>
            <div class="row">                
                    <div class="col-6 col-lg-3 offset-lg-3">
                        <img src="/assets/images/GooglePlayBadge.png" class="img-fluid img-responsive mx-auto" style="min-width: 75px; min-height: 30px;">
                    </div>
                    <div class="col-6 col-lg-3">
                        <img src="/assets/images/AppStoreBadge.png" class="img-fluid img-responsive mx-auto" style="min-width: 75px; min-height: 30px;">
                    </div>                
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>

</html>