<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Nunito|Poppins|Roboto" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="col-12 col-lg-8 offset-lg-2">
            <div class="text-center">
                <img src="/assets/images/LogoIcon.png" class="img-fluid img-responsive mx-auto">
            </div>
            <h1 class="text-center">Log in to Chatversity</h1>
        </div>
        <div class="row">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="col-12 col-md-4 offset-md-4">
                <div *ngIf="submitted && f.username.errors">
                    <div *ngIf="f.username.errors.invalid" class="alert alert-danger" role="alert">Incorrect username or password.</div>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" formControlName="username" placeholder="Enter your username" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                    </div>
                    
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="password">Password</label>
                        </div>
                        <div class="col-6 text-right">
                            <a [routerLink]="['/forgot']" class="btn-password">Forgot Password?</a>
                        </div>
                    </div>
                    <input type="password" formControlName="password" placeholder="Enter your password"
                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                    <button [disabled]="loading" class="btn btn-login btn-primary btn-block mt-3">LOG IN</button>
                    <img *ngIf="loading"
                        src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

                </div>
                <div class="form-group row mt-3">
                    <div class="col-6 offset-1">
                        <p style="color:#94b0c0">New to Chatversity</p>
                    </div>
                    <div class="col-3 offset-1">
                        <a [routerLink]="['/signup']" class="btn-signup">Sign up</a>
                    </div>
                </div>
            </form>


        </div>
        <div class="col-8 offset-2 ">
            <p class="text-center">Get the App</p>
            <div class="row">                
                    <div class="col-6 col-lg-3 offset-lg-3">
                        <img src="/assets/images/GooglePlayBadge.png" class="img-fluid img-responsive mx-auto" style="min-width: 75px; min-height: 30px;">
                    </div>
                    <div class="col-6 col-lg-3">
                        <img src="/assets/images/AppStoreBadge.png" class="img-fluid img-responsive mx-auto" style="min-width: 75px; min-height: 30px;">
                    </div>                
            </div>
        </div>
    </div>
</body>

</html>