<div class="container">
  <!-- Messages Header -->
  <div id="messages_header" class="row position-fixed py-3">
    <div class="col-12">
        <span class="text-uppercase">Messages</span><span><a src="/assets"></a></span>
    </div>
  </div>
  <!-- Begin Messages outlet -->
  <div class="row">
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div *ngIf="(currentUser)">
        <span>{{ currentUser.name }}</span>
      </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
    <div class="col-12">
      Messages works!
    </div>
  </div>
</div>
