<div class="container">
  <div class="pt-4">
    <h3 class="text-secondary pb-3">Two-Factor Authentication</h3>
    <p><input type="checkbox" id="2FA">&nbsp; Two-Factor Authentication</p>
    <p class="description">For additional security, enable two-factor authentication. Every time you sign in, you will be required to enter your password and an authentication code so we can make sure it's you.</p>
    <hr />
  </div>
  <div class="pt-4">
    <h3 class="text-secondary pb-3">Change Password</h3>
    <p class="description">If you think your account has been compromised, please change your password.</p>
      <a [routerLink]="['/forgot']"><button type="submit" class="btn btn-primary text-uppercase px-4">Change Password</button></a>
    <hr />
  </div>
</div>
