<div class="container">

  <!-- 2FA -->
  <!--  -->
  <div class="pt-4">
    <h4 class="text-secondary pb-3">Two-Factor Authentication</h4>
    <p><input type="checkbox" id="2FA">&nbsp; Two-Factor Authentication</p>
    <p class="description">For additional security, enable two-factor authentication. Every time you sign in, you will
      be required to enter your password and an authentication code so we can make sure it's you.</p>
    <hr />
  </div>

  <!-- Change Password -->
  <!--  -->
  <div class="pt-4">
    <h4 class="text-secondary pb-3">Change Password</h4>
    <p class="description">If you think your account has been compromised, please change your password.</p>
    <button data-toggle="collapse" data-target="#changePasswordForm" class="btn btn-primary text-uppercase px-4">Change
      Password</button>

    <!-- PASSWORD FORM -->
    <form [formGroup]="changePassForm" (ngSubmit)="onSubmit()" id="changePasswordForm" class="collapse pt-4 col-12 col-md-6">

      <!-- Old password -->
      <div class="form-group">
        <input formControlName="oldPassword" class="form-control" type="password" name="oldPassword" id="oldPassword"
        required placeholder="Old Password" (input)="onInputChange()">
      </div>

      <!-- New password -->
      <div class="form-group">
        <input formControlName="newPassword" class="form-control" type="password" name="newPassword" id="newPassword"
        required placeholder="New Password" (input)="onInputChange()">

        <div *ngIf="samePassword && changePassForm.get('oldPassword').dirty && changePassForm.get('newPassword').dirty && !noOldInput" class="text-danger">New password cannot be the same as the old password.</div>
        <div *ngIf="(submitted && f.newPassword.errors)" class="invalid-feedback">
          <div *ngIf="f.newPassword.errors.required">Please enter a new password.</div>
          <div *ngIf="f.newPassword.errors.pattern">Your new password must have atleast: <br>
            <div style="padding-left:20px">▶&nbsp; 8 characters <br> ▶&nbsp; 1 uppercase letter <br> ▶&nbsp; 1 number</div>
          </div>
        </div>
      </div>

      <!-- Confirm password -->
      <div class="form-group">
        <input formControlName="confirmPassword" class="form-control" type="password" name="confirmPassword" id="confirmPassword"
        required placeholder="Confirm Password" (input)="onInputChange()">

        <div class="mt-2">
          <span *ngIf="passwordsMatch && changePassForm.get('confirmPassword').dirty && changePassForm.get('newPassword').dirty && !noNewInput" class="text-success">Passwords Match!</span> 
          <span *ngIf="!passwordsMatch && changePassForm.get('confirmPassword').dirty && changePassForm.get('newPassword').dirty && !noNewInput" class="text-danger">Passwords must match.</span>
          
        </div>
      </div>

      <button class="btn btn-login btn-outline-secondary text-uppercase px-4">submit</button>
    </form>
    <hr />
  </div>
</div>
