.app-loading {
    height:100vh;
    .logo {
      width: 200px;
      height: 200px;
      background-size: contain !important;
      // this way asset gets processed by webpack 
      background: url(./assets/icons/icon-384x384.png) center center no-repeat; 
    }
  }