/* You can add global styles to this file, and also import other style files */


@import url('https://fonts.googleapis.com/css?family=Poppins:400,500');

/*Variable Overrides*/
$theme-colors: (
  "primary": #26B1FF,
  "secondary":#0E425F,
  "light":#96B7C9,
  "lighter":#F1F8FC,
  "danger": #ff4136
);

@import '../node_modules/bootstrap/scss/bootstrap.scss';

html, body {
    font-size: 16px; // Base font size
    font-family: "Poppins", "Nunito", "Proxima Nova", sans-serif;
    min-height: 100%;    // Cover Full Screen
    width: 100%;     // Cover Full Screen
    scroll-behavior: smooth;
  }

app-messages, app-rooms {
    width: calc(100vw - 88px);
    height: 100%;
    background-color:#DAE6ED;
    overflow-y: scroll;
}

.text-strong{
  font-weight: 700;
}

.text-light-weight{
  font-weight: 300;
}

.app-main {
  display: flex;
  width: calc(100vw - 88px);
  flex-direction: column;
}