.custom-btn{
    border-radius: 5px;
    color: #96B7C9;
    background-color: #F1F8FC;
}
.custom-btn:hover{
    background-color: white;
    color: #0E425F;
    border: 1px solid #bddef1;
}

.active{
    background-color: white !important;
    color: #0E425F;
    border: 1px solid #bddef1;
}