<div class="container-fluid py-3">
    <div class="text-center card px-3">
        <div class="row my-5">
            <div class="col-12 col-lg-4 mt-1 pr-2" id="profile-picture-container">
                <!-- Profile Image -->
                <img src="" onerror="this.src='../../../assets/images/DefaultProfile.png'" id="user-image"
                class="rounded img-fluid mb-1" >
            </div>

            <div class="col-12 col-lg-7" id="profile-content">
                <ng-container *ngIf="this.currentUser">
                    <!-- User Name -->
                    <div class="h2 text-secondary text-light-weight">{{ this.name }}</div>

                    <!-- User Major and Graduation Year -->
                    <div class="text-primary text-uppercase" style="font-weight:100;">
                        <span *ngIf="this.major">{{ this.major }}</span>
                        <span *ngIf="(this.major && this.graduationYear)"> &nbsp;|&nbsp;</span>
                        <span *ngIf="this.graduationYear"> Class of {{ this.graduationYear }}</span>
                    </div><br>]
    
                    <!--User Bio-->
                    <div class="mt-3" *ngIf="this.bio">
                        <p>{{this.bio}}</p> 
                    </div>
    
                    <!--User Clubs-->
                    <div>
                        <p><span class="text-secondary-light">Clubs: &nbsp;</span> {{ this.clubs }}</p>
                    </div>
    
                    <!--User Interests-->
                    <div>
                        <p><span class="text-secondary-light">Interests: &nbsp;</span> {{ this.interests }}</p>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>